.projects {
  background-image: linear-gradient(to right bottom, #f6f6f6, #bcbab8);
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  padding: 4rem;
  min-height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 37.5em) {
    padding: 4rem 2rem;
  }

  &__title {
    grid-column: 1 / -1;
    text-transform: capitalize;
    font-size: 4rem;
    letter-spacing: 2px;
    animation: moveLeftIn 3s ease backwards;

    @media screen and (max-width: 25em) {
      text-align: center;
    }
  }

  &__intro {
    grid-column: 1 / -1;
    font-size: 2rem;
    margin-bottom: 2rem;
    animation: moveRightIn 3s ease backwards;

    @media screen and (max-width: 25em) {
      text-align: center;
    }
  }

  &__filter {
    transition: var(--transition);
    &:hover {
      color: var(--grey-light);
    }
  }
}
